data/

# 기타 무시
README.md
gitflow/
__pycache__/
*.pyc
*.ipynb_checkpoints/
.env
*.onnx
*.sqlite3
!src/retrieval/data/**
!src/vectordb/chroma_db/**

*.ipynb
!src/retrieval/modules/__pycache__/**
*.csv
*.json
*.bin
*.pickle
*.pkl
# chroma_db/73246dd6-03fd-4558-b1b6-2926908b70c0/data_level0.bin

/src/retrieval/data/**